/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/*  */

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  /* background-image: url('./images/sky.png'); */
  background-color: #212121;
  /* background-color: orange; */
  background-repeat: cover;
  background-position: center;
  color: white;
}

/* Top */

#top {
  border: 1px solid magenta;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
}

#logo {
  width: auto;
}

#topics {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
}

/*  */

/* Main */

#main-content {
  margin-top: 10vh;
  display: flex;
  border: 1px solid orange;
  flex-direction: row;
  height: auto;
  align-items: center;
  justify-content: center;
}

span {
  color: #14ffec;
}

span:first-child {
  font-family: 'Roboto Mono', monospace;
  font-size: 75%;
}

#intro {
  border: 1px solid purple;
  /* animation-name: test-animation; */
  /* animation-duration: 2s; */
  line-height: 5vh;
  width: 45vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  /* font-family: 'Cormorant Garamond', serif; */
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 280%;
  
}

#intro-img {
  height: auto;
  border-radius: 10px;
  /* Opacidade apenas em um dos lados da imagem */
  mask-image: linear-gradient(to right, transparent 2%, black);
}

#intro-container {
  display: flex;
  height: 40vh;
}

#quick-about {
  width: 80%;
  text-align: start;
  border: 1px solid blue;
  line-height: normal;
  font-family: 'Quicksand', sans-serif;
}

/* @keyframes test-animation {
  from {
    background-color: red;
  } to {
    background-color: aqua;
  }
} */



/*  */

/* Footer */

footer {
  /* background-color: black; */
  /* border: 1px dotted orange; */
  position: fixed;
  width: 100vw;
  bottom: 0;
  /* display: flex; */
}
