/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/*  */

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  /* background-image: url('./images/sky.png'); */
  background-color: #212121;
  background-repeat: cover;
  background-position: center;
  color: white;
}

/* Top */

#top {
  border: 1px solid magenta;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
}

#logo {
  width: auto;
}

#topics {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
}

/*  */

/* Main */

#about {
  margin: 10vh 0;
  border: 1px solid plum;
}

#about p {
  line-height: 150%;
}

/* Os três elementos abaixo se tratam das linhas ao lado do subtítulo */

h2::before, h2::after {
  background-color: rgb(61, 57, 57);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}

h2:before {
  right: 0.5em;
  /* margin-left: -50%; */
}

h1:after {
  left: 0.5em;
  /* margin-right: -50%; */
}

#main-content {
  margin-top: 5vh;
  display: flex;
  border: 1px solid orange;
  flex-direction: column;
  height: auto;
  align-items: center;
  /* justify-content: center; */
  /* margin-left: 10vw; */
}

span {
  color: #14ffec;
}

span:first-child {
  font-family: 'Roboto Mono', monospace;
  font-size: 75%;
}

#intro {
  border: 1px solid purple;
  /* animation-name: test-animation; */
  /* animation-duration: 2s; */
  /* line-height: ; */
  width: 45vw;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  /* font-family: 'Cormorant Garamond', serif; */
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-family: 'Plus Jakarta Sans', sans-serif;
}

#intro-header {
  display: flex;
  flex-direction: column;
  text-align: start;
  border: 1px solid white;
}

h1 {
  font-size: 280%;
  align-self: flex-start;
}

#intro-img {
  height: auto;
  border-radius: 10px;
  /* Opacidade apenas em um dos lados da imagem */
  mask-image: linear-gradient(to right, transparent 5%, black);
}

#intro-container {
  display: flex;
  height: 40vh;
}

#quick-about {
  width: 80%;
  text-align: start;
  border: 1px solid blue;
  line-height: normal;
  font-family: 'Quicksand', sans-serif;
}

/* @keyframes test-animation {
  from {
    background-color: red;
  } to {
    background-color: aqua;
  }
} */



/*  */

/* Footer */

footer {
  background-color: #212121;
  border: 1px dotted orange;
  /* position: fixed; */
  /* width: 100vw; */
  /* bottom: 0; */
}
